target/
traces/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/mvnw
/mvnw.cmd
/.mvn/
/.idea/
.DS_Store

release.properties
pom.xml.releaseBackup

### Eclipse ###
.classpath
.project
.settings/

.vscode/